body{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;

}


.header{
    background-color: darkslategray;
    padding: 10px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 110px;
    
}


.centro{
    flex: 1;
    display: flex;
    justify-content: center;
}
.procurar{
    font-size: 18px;
    padding: 10px 15px; 
    border-radius: 8px;
    width: 400px;
    
}
.barra-pesquisa{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    padding-top: 20px;

}
.lupa{
   font-size: 20px;
}
.direita{
    display: flex;
    align-items: center;
    gap: 20px;
}
.inicio{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: right;
    font-family: poppins, sans-serif;
}
.inicio:hover{
    color: rgb(255, 255, 255);
}

.carros{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: right;
    font-family: poppins, sans-serif;
}
.carros:hover{
    color: rgb(255, 255, 255);
}

.carrinho{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: flex-end;
}
#carrinho{
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;

}
.carrinho:hover{
    color: rgb(255, 255, 255);
}
.fale-conosco{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: right;
    font-family: poppins, sans-serif;
}
.fale-conosco:hover{
    color: rgb(255, 255, 255);}


.menu{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 100px;

}

 
  .rodape{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    font-family: poppins,sans-serif;
  }



.veiculos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;


}

 .veiculos {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}

.carousel {
  max-width: 600px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}


.card-carro {
  max-width: 440px;
  border-radius: 18px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descricao {
    padding: 5px;
    text-align: center;
}

.descricao h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #333;
}

.descricao p {
  margin: 0;
  font-size: 18px;
  color: #007b00;
  font-weight: bold;
}
